# Python
__pycache__/
*.pyc

# Datasets
data/
noise_dataset/
film_neural_comparator/tts_corpus_processed/

# Model checkpoints
finetuned_models/
ecapa_tdnn/finetuned_models/
# tc_resnet/tc_resnet_output/

# Outputs
# tc_resnet/
eer_validation_report.json

dataset_test.py
pcen_test.py
train_test.py
verify_test.py